* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: yellow;
  display: flex;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
}

aside {
  background-color: yellowgreen;
  display: flex;
  flex-direction: column;
  width: 5vw;
  height: 100vh;
}
